// Color Variables
$primary-color: #D84221;
$text-color: #666666;
$text-color-dark: #222222;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$gray: #f4fcff;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';